{% extends "base.html" %}
{% block title %} Home {% endblock %}



{% block content %}
    <h1 aling="center">Notes</h1>
    <ul class="list-group list-group-flush" id="notes">
        {% for note in user.notes %} <!-- These notes are fetched because the user is being passed as currrent_user to this form, and he has a field 'notes' -->
            <li class="list-group-item">{{ note.data }}
                <button type="button" class="close" onclick="deleteNote({{ note.id }})">
                    <span aria-hidden="true">&times;</span>
                </button>
            </li> <!-- Data is a field on the Notes model containing the text associated with that note -->
        {% endfor %}
    </ul>
    <form method="POST">
        <textarea name="note" id="note" class="form-control"></textarea>
        <br />
        <div align="center">
            <button type="submit", class="btn btn-primary">Add Note</button>
        </div>
    </form>
{% endblock %}